<div class="bg-white border" *ngIf="animal$ | async as animal">
  <div class="row">
    <div class="col-lg-8">
      <app-animal [url]="animal.url" [descricao]="animal.description">
      </app-animal>
    </div>
    <div class="col-lg-4">
      <small>
        <p class="text-start word-break">{{ animal.description }}</p>
        <i (click)="curtir()" class="fa fa-heart-o fa-2x me-2">
          {{ animal.likes }}
        </i>
        <i class="fa fa-comment-o fa-2x me-2"> {{ animal.comments }} </i>
        <i (click)="excluir()" class="fa fa-trash-o fa-2x me-2"> </i>
      </small>
      <app-comentarios
        [id]="animalId"
        *ngIf="animal.allowComments; else warning"
      >
      </app-comentarios>
      <ng-template #warning>
        <p class="alert alert-warning">Você não pode comentar essa foto.</p>
      </ng-template>
    </div>
  </div>
</div>
