<div *ngIf="comentarios$ | async as comentarios">
  <div class="container p-2">
    <ul class="list-unstyled">
      <li *ngFor="let comentario of comentarios">
        <p class="text-dark font-weight-bold me-1">{{ comentario.userName }}</p>
        <em>{{ comentario.date | date: 'dd-MM-yyyy HH:mm' }}</em>
        <p class="text-break mb-2">{{ comentario.text }}</p>
      </li>
    </ul>
    <div class="mt-4">
      <form
        (submit)="gravar()"
        [formGroup]="comentarioForm"
        class="d-grid gap-2"
      >
        <div class="col-sm-10">
          <textarea class="form-control" formControlName="comentario">
          </textarea>
          <button
            class="btn btn-primary float-start"
            [disabled]="comentarioForm.invalid"
          >
            Comentar
          </button>
        </div>
      </form>
      <app-mensagem
        mensagem="Tamanho máximo de 300 caracteres"
        *ngIf="!!comentarioForm.get('comentario')?.errors?.maxLength"
      >
      </app-mensagem>
    </div>
  </div>
</div>
