<p class="text-center text-muted" *ngIf="animais.length === 0">
  Desculpe, não há animais.</p
>
<div class="row">
  <div class="col-4" *ngFor="let animal of animais">
    <a [routerLink]="['/animais', animal.id]">
      <app-cartao>
        <app-animal [url]="animal.url" [descricao]="animal.description">
        </app-animal>
        <i aria-hidden="true" class="fa fa-heart me-2"> {{ animal.likes }} </i>
        <i aria-hidden="true" class="fa fa-comment-o me-2">
          {{ animal.comments }}
        </i>
      </app-cartao>
    </a>
  </div>
</div>
