<h4 class="text-center">Login</h4>
<form #loginForm="ngForm" (ngSubmit)="login()">
  <div class="mb-3">
    <input
      #campoUsuario="ngModel"
      [(ngModel)]="usuario"
      class="form-control"
      name="usuario"
      placeholder="Nome do usuário..."
      required
      type="text"
    />
    <app-mensagem
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
      mensagem="Usuário obrigatório!"
    ></app-mensagem>
  </div>
  <div class="mb-3">
    <input
      #campoSenha="ngModel"
      [(ngModel)]="senha"
      class="form-control"
      name="senha"
      placeholder="Senha..."
      required
      type="password"
    />
    <app-mensagem
      *ngIf="campoSenha.invalid && campoSenha.touched"
      mensagem="Senha obrigatória!"
    ></app-mensagem>
  </div>
  <div class="d-grid">
    <button
      [disabled]="loginForm.invalid"
      class="btn btn-primary btn-block"
      type="submit"
    >
      Login
    </button>
  </div>
</form>
<p>Não é um usuário? <a [routerLink]="['novo-usuario']">Registre-se</a></p>
