<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>
<form
  (submit)="cadastrar()"
  [formGroup]="novoUsuarioForm"
  class="mt-3 d-grid gap-2"
>
  <input
    class="form-control"
    formControlName="email"
    placeholder="E-Mail"
    type="text"
  />

  <app-mensagem
    *ngIf="
      novoUsuarioForm.get('email')?.errors?.required &&
      novoUsuarioForm.get('email')?.touched
    "
    mensagem="E-mail obrigatório."
  >
  </app-mensagem>
  <app-mensagem
    *ngIf="
      novoUsuarioForm.get('email')?.errors?.email &&
      novoUsuarioForm.get('email')?.touched
    "
    mensagem="E-mail no formato incorreto."
  >
  </app-mensagem>
  <input
    class="form-control"
    formControlName="fullName"
    placeholder="Nome completo"
    type="text"
  />
  <app-mensagem
    *ngIf="
      novoUsuarioForm.get('fullName')?.errors &&
      novoUsuarioForm.get('fullName')?.touched
    "
    mensagem="Nome muito curto."
  >
  </app-mensagem>
  <!-- input username-->
  <input
    class="form-control"
    formControlName="userName"
    placeholder="Usuário"
    type="text"
  />
  <app-mensagem
    mensagem="O username deve conter apenas letras minúsculas."
    *ngIf="novoUsuarioForm.get('userName')?.errors?.minusculo"
  >
  </app-mensagem>
  <app-mensagem
    *ngIf="
      novoUsuarioForm.get('userName')?.errors?.required &&
      novoUsuarioForm.get('userName')?.touched
    "
    mensagem="Username é obrigatório."
  >
  </app-mensagem>
  <app-mensagem
    *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente"
    mensagem="Username já existe."
  >
  </app-mensagem>

  <input
    class="form-control"
    formControlName="password"
    placeholder="Senha"
    type="password"
  />
  <app-mensagem
    mensagem="Usuário e senha não podem ser iguais."
    *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario"
  >
  </app-mensagem>
  <button class="btn btn-primary btn-block">Cadastro</button>
</form>
<p>Já é um usuário? <a [routerLink]="['']">Faça login</a></p>
