<div class="container pt-3">
  <form [formGroup]="formularioAnimal" class="row" (submit)="upload()">
    <div class="col text-center">
      <div *ngIf="!preview; else previewImage">
        <button
          type="button"
          class="btn btn-primary"
          (click)="fileInput.click()"
        >
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input
          type="file"
          hidden
          formControlName="file"
          accept="image/*"
          (change)="gravaArquivo($event.target)"
          #fileInput
        />
        <app-mensagem
          mensagem="Por favor, selecione a foto..."
          *ngIf="!!formularioAnimal.get('file')?.errors?.required"
        >
        </app-mensagem>
      </div>
      <ng-template #previewImage>
        <app-animal [url]="preview" title="Preview"></app-animal>
      </ng-template>
    </div>
    <div class="col text-center">
      <textarea
        formControlName="description"
        class="form-control form-control-sm"
      >
      </textarea>
      <app-mensagem
        mensagem="Tamanho máximo do campo é de 300 caracteres"
        *ngIf="!!formularioAnimal.get('description')?.errors?.maxlength"
      >
      </app-mensagem>
      <label class="text-muted">
        Permite comentário:
        <input type="checkbox" formControlName="allowComments" />
      </label>
      <div *ngIf="!percentualConcluido; else uploadDiv">
        <div class="d-grid gap-2">
          <button
            [disabled]="formularioAnimal.invalid"
            type="submit"
            class="btn btn-primary"
          >
            Enviar
          </button>
          <a routerLink="['animais']" class="btn btn-secondary"> Cancelar </a>
        </div>
      </div>
      <ng-template #uploadDiv>
        <div class="text-center display-4">
          Percentual de upload: {{ percentualConcluido }}
        </div>
      </ng-template>
    </div>
  </form>
</div>
