<div class="container">
  <div class="row">
    <div class="col-md-6 mb-2">
      <img
        alt="Imagem de um gato de boas vindas"
        class="img-fluid d-none d-sm-block"
        src="assets/img/home.jpg"
      />
    </div>
    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
